<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let service of alphas">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{service.name}} <span *ngIf="service.actions.length > 0" class="caret"></span></a>
                <ul class="dropdown-menu">
                  <div *ngFor="let menuItem of service.actions">
                    <menu-action [Title]="menuItem" (invokeAction)="invokeActionHandler($event)" ></menu-action>
                   </div>
                </ul>
      </li>
    </ul>
  </div>
</nav>
WebSiteName
      <template #placeHolder>
      </template>
<style>
   .container {
     border-radius: 10px;
     border: 10px solid black; 
   }
   .cursor-draggable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
  </style>